body {font-family:  Helvetica,Arial, sans-serif;
    padding: 0px;}
    
    input[type=text], textarea, input[type=email] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        margin-right: 0px;
        margin-left: 0px;
        resize: vertical;
      }
    .map{
        width: 88%;
        padding: 12px;
        border: 1px solid #079cff;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        margin-right: 0px;
        margin-left: 0px;
        resize: vertical;
        left: 100%;
	transform: translateX(92%);
           
    }
